body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 100px;
    padding: 150px;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

input, button {
    margin-bottom: 10px;
    padding: 8px;
    width: calc(100% - 250px);
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
